<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/bootstrap.css' />
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>List groups</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"><%= JSON.stringify(posts.length) %></span>
              Posts
            </li>
            <li class="list-group-item">
              <span class="badge">2</span>
              Dapibus ac facilisis in
            </li>
            <li class="list-group-item">
              <span class="badge">1</span>
              Morbi leo risus
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
      </div>
    </div>


    <div class='row '>
      <div class="col-lg-7">
      </div>

      <div class="col-lg-5">

        <p class="bs-component">
          <a href="/v1/admin/posts/new" class="btn btn-default btn-lg btn-block">New Post</a>
        </p>


        <!-- <div class="bs-component" style="margin-bottom: 15px;">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default">Left</a>
            <a href="#" class="btn btn-default">Middle</a>
            <a href="#" class="btn btn-default">Right</a>
          </div>
        </div>

        <div class="bs-component" style="margin-bottom: 15px;">
          <div class="btn-toolbar">
            <div class="btn-group">
              <a href="#" class="btn btn-default">1</a>
              <a href="#" class="btn btn-default">2</a>
              <a href="#" class="btn btn-default">3</a>
              <a href="#" class="btn btn-default">4</a>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-default">5</a>
              <a href="#" class="btn btn-default">6</a>
              <a href="#" class="btn btn-default">7</a>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-default">8</a>
              <div class="btn-group">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Dropdown
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Dropdown link</a></li>
                  <li><a href="#">Dropdown link</a></li>
                  <li><a href="#">Dropdown link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="bs-component">
          <div class="btn-group-vertical">
            <a href="#" class="btn btn-default">Button</a>
            <a href="#" class="btn btn-default">Button</a>
            <a href="#" class="btn btn-default">Button</a>
            <a href="#" class="btn btn-default">Button</a>
          </div>
        </div> -->

      </div>


    </div>





    <!-- Typography
    ================================================== -->
    <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="typography">Typography</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- post -->
        <div class="col-lg-6">
          <div class="bs-component">
            <div class="list-group">

              <% posts.forEach(function(e) {  %>
                <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading"><%= e.title %></h4>
                  <p class="list-group-item-text"><%= e.html %></p>
                </a>
                <% }); %>

              </div>
            </div>
          </div>
          <!--end post -->


        </div>

      </div>
    </div>
    <p><%= JSON.stringify(posts) %></p>
  </body>
  </html>
